form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 400px;
  margin: 150px auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;

  input,
  p-password {
    width: 100%;
  }
}
:host ::ng-deep .p-password.ng-invalid.ng-dirty .p-inputtext:enabled:focus {
  border: 1px solid #f44336;
}
